@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700);

body{
	width: 80%;
	border: 10px solid Tomato;/*#bdc3c7*/
	font-family: "Source Sans Pro",sans=serif;
	padding: 20px;
	margin: 10px auto;
	max-width: 1000px;
	background: LightGray;
}

/* Style the header with a grey background and some padding */
.header{
	overflow: hidden;
	background-color: #f1f1f1;
	padding: 20px 10px;
}

/* Style the header links */
.header a {
  float: left;
  color: black;
  text-align: center;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  line-height: 25px;
  border-radius: 4px;
}

/* Style the logo link (notice that we set the same value of line-height and font-size to prevent the header to increase when the font gets bigger */
.header a.logo {
  font-size: 25px;
  font-weight: bold;
}

/* Change the background color on mouse-over */
.header a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the active/current link*/
.header a.active {
  background-color: dodgerblue;
  color: white;
}

/* Float the link section to the right */
.header-right {
  float: right;
}

/* Add media queries for responsiveness - when the screen is 500px wide or less, stack the links on top of each other */
@media screen and (max-width: 500px) {
  .header a {
    float: none;
    display: block;
    text-align: left;
  }
  .header-right {
    float: none;
  }
}

.post{
	margin-bottom: 20px;
}

.date{
	color: #3498db;
	Letter-spacing: 0.2em;
	text-transform: uppercase;
}

.quote{
	color: black;
	/*background: steelblue;*/
	border-Left: 5px solid #bdc3c7;
	padding-Left: 5px;
}

title{
	font-size: 4.0rem;
	font-weight: bold;
	color: #2c3e50;
	
}

h1{
	font-size: 3.0rem;
	font-weight: bold;
	color: #2c3e50;
}

h2{
	font-size: 2.0rem;
	font-weight: bold;
	color: #2c3e50;
}

div{
	/*background: white;*/
	/*border: 3px solid black;
	background: red;
	width: 300px;
	height: 300px;
	color: blue;
	position: relative;
	animation-name: anime;
	animation-delay: 2s;
	animation-iteration-count: 100;*/
}
/*
@keyframes anime{
	0% {background-color: red; Left: 0px; top: 0px;}
	25% {background-color: yellow; Left: 300px; top: 0px;}
	50% {background-color: green; Left: 300px; top: 300px;}
	75% {background-color: blue; Left: 0px; top: 300px;}
	100% {background-color: red; Left: 0px; top: 0px;}
}

div:hover{
	transform: translate(10px,10px); /*scale(2); scale(20deg,10deg)
}
*/
#quote{
	font-family: "verdana","gill sans";
	color: black;
}

/*span#author{ //THis is only for id's
	text-transform: uppercase;
}*/

#skills ol li:hover{
	color: black;
	background: white;
	width: 450px;
	height: 20px;
	margin: 5px auto;
	/*display: block;*/
}
/*
#skills ul li:hover{
	color: black;
	/*background: yellow;
}

li{
	background-color: #f7f7f7;
	width: 360px;
	margin: 100px auto;
}

li:nth-child(2n){
	background-color: white;
}
*/



/*CODE IS COPY PASTED FROM https://webdevtrick.com/html-css-footer/*/
/** code by webdevtrick ( https://webdevtrick.com ) **/
footer{
	bottom: 0;
}

.footer-distributed{
	background-color: #292c2f;
	box-shadow: 0 1px 1px 0 rgba(0,0,0,0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: blod 15px sans-serif;
	
	padding: 55px 50px;
	margin-top: 80px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

.footer-distributed .footer-left{
	width: 40%;
}

.footer-distributed h3{
	color: #ffffff;
	font: normal 36px 'Cookie', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color: #5383d3;
}

.footer-distributed .footer-links{
	color: #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display: inline-block;
	line-height: 1.8;
	text-decoration: none;
	color: inherit;
}

.footer-distributed .footer-company-name{
	color: #8f9296;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #5383d3;
	text-decoration: none;;
}

.footer-distributed .footer-right{
	width: 20%;
}
.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	background-color:  #33383b;
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

@media (max-width: 880px) {

	.footer-distributed{
		font: bold 14px sans-serif;
	
	}

	.footer-distributed .footer-left,
	.footer-distributed .footer-center,
	.footer-distributed .footer-right{
		display: block;
		width: 100%;
		margin-bottom: 40px;
		text-align: center;
	}

	.footer-distributed .footer-center i{
		margin-left: 0;
	}
	.main {
		line-height: normal;
		font-size: auto;
	}

}
/*COPY PASTED PART IS OVER*/
.footer{
	clear: both;
	background: black;
	color: white;
}

img{
	float: right;
}

ol{
	/*width: 700px;
	padding: 100px;
	margin: 10px auto;
	overflow: scroll;*/
	list-style-type: lower-alpha;
	list-style-position: outside;
}

a.hover{
	background: black;
	color: white;
}

a.active{
	background: black;
	color: white;
}

a.visited{
	background: black;
	color: white;
}

#para-1:before{
	/*content: "@@@@@@@@@@@";*/
	word-spacing: 10px;
	letter-spacing: 2px;
}

section {
  display: block;
}

title{
	font-size: 4.0rem;
	font-weight: bold;
	color: #2c3e50;
	
}

h1{
	font-size: 3.0rem;
	font-weight: bold;
	color: #2c3e50;
}

h2{
	font-size: 2.0rem;
	font-weight: bold;
	color: #2c3e50;
}

.all-browsers {
  margin: 0;
  padding: 5px;
  background-color: lightgray;
}

.all-browsers > h1, .browser {
  margin: 10px;
  padding: 5px;
}

.browser {
  background: white;
}

.browser > h2, p {
  margin: 4px;
  font-size: 90%;
}